:root {
  --bg-color: #ffff;
  --secondary-bg-color: #2F303A;
  --third-bg-color: #F5F4FA;
  --main-text-color: #212121;
  --secondary-text-color: #2196F3;
  --third-text-color: #757575;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  line-height: 1.2;
  background-color: var(--bg-color);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
img {
  display: block;
  max-width: 100%;
}
/* Навигация */
header {
  border-bottom: 1px solid var(--third-bg-color);
}

.container {
  width: 1170px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.wrapper {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.nav-header {
  display: flex;
  align-items: center;
  font-weight: 500;

}

.nav-header a {
  text-decoration: none;
}

.nav-logo {
  margin-right: 93px;
}

.nav-web {
  font-size: 26px;
  font-weight: 700;
  color: var(--secondary-text-color);
}

.nav-studio {
  font-size: 26px;
  font-weight: 700;
  color: var(--main-text-color);
}

.link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--main-text-color);
}

.link:hover,
.link:focus {
  color: var(--secondary-text-color);
}

.nav-menu {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

.info {
  margin-left: auto;
}

.nav-menu .nav-list+.nav-list {
  margin-left: 50px;
}

.menu-contacts {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--third-text-color);
}

.menu-contacts:hover,
.menu-contacts:focus {
  color: var(--secondary-text-color);
}

/* Главное наполнение */

.main-content {
  text-align: center;
  background-color: var(--secondary-bg-color);
  /* padding-top: 200px; */
}

.main-text {
  font-size: 44px;
  font-weight: 900;
  color: var(--bg-color);
  text-transform: uppercase;
  margin-bottom: 30px;
}

.main-btn {
  width: 200px;
  height: 50px;
  border-radius: 4px;
  border: transparent;
  cursor: pointer;
  background-color: var(--secondary-text-color);
  color: var(--bg-color);
  font-size: 16px;
  font-weight: 700;
  line-height: 1.9;
  /* margin-bottom: 200px; */

}

.menu-lists {
  margin-right: 30px;
}

.qual-list {
  font-size: inherit;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.qual-text {
  color: var(--third-text-color);
  line-height: 1.7;
}

/* Чем занимаемся */
.what-wedoo {
  font-size: 36px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 50px;
}


.wedoo-item {
  display: flex;
  padding-bottom: 94px;
}
.wedoo-img:not(:last-child) {
  margin-right: 30px;
}

.team {
  background-color: var(--third-bg-color);
}

.member-list {
  background-color: var(--bg-color);
  text-align: center;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;

}

.member-list:not(:last-child) {
  margin-right: 30px;
}

.member-team {
  padding-top: 30px;
  padding-bottom: 10px;
  font-size: 16px;
}

.member-position {
  padding-bottom: 30px;
  font-size: 16px;
  color: var(--third-text-color);
}

/* Footer */
.foot-bg {
  background-color: var(--secondary-bg-color);
}

.footer-menu {
  display: flex;
  flex-direction: column;
}

.footer-menu a {
  padding-top: 60px;
  padding-bottom: 20px;
}

.menu-contacts-list {
  color: rgba(255, 255, 255, 0.6);
}

.ftr-nav-studio {
  font-size: 26px;
  font-weight: 700;
  color: var(--bg-color);
}

.mail {
  padding-bottom: 9px;
}

.number {
  padding-bottom: 60px;
}

.adress {
  padding-bottom: 9px;
  font-style: normal;
  color: var(--bg-color);
}

/* Портфолио */
.portfolio{
  margin-bottom: 31px;
}
.menu-portfolio {
  list-style: none;
  display: flex;
  justify-content: center;
  margin: 0;
}
.menu-portfolio > li+li{
  margin-left: 8px;
}
.portf-btn {
  width: 128px;
  height: 38px;
  background-color: var(--third-bg-color);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.6;
  border-radius: 4px;
  border: transparent;
}

.portf-btn:hover,
.portf-btn:focus {
  background-color: var(--secondary-text-color);
  color: var(--bg-color);
  cursor: pointer;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
border-radius: 4px;
}

.projects-menu {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
    margin-left: -30px;
  margin-top: -30px;
}
.projects-info{
  flex-basis: calc(100% /3 - 30px);
  margin-left: 30px;
  margin-top: 30px;
}
.proj-content{
  padding-top:20px;
  padding-bottom: 20px;
  padding-left: 24px;
  padding-right: 24px;
}
.projects-list {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  padding-bottom: 4px;
}

.projects-type {
  font-size: 16px;
  font-weight: 1.9;
  color: var(--third-text-color);
}